<ion-header>
  <ion-toolbar>
    <ion-title>This is the schedule page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Jadual Hari Ini</ion-card-subtitle>
      <ion-card-title>27 Mei 2021</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item>0700-0800 : Latihan Jasmani</ion-item>
        <ion-item>0800-0900 : Sarapan Pagi</ion-item>
        <ion-item>0900-1030 : Eks Gempur Petanda</ion-item>
        <ion-item>1030-1100 : Rehat</ion-item>
        <ion-item>1100-1300 : Eks Gempur Petanda</ion-item>
        <ion-item>1300-1415 : Makan Tengahari</ion-item>
        <ion-item>1415-1600 : Eks Disambung</ion-item>
        <ion-item>1600-1830 : Pentadbiran</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Jadual Esok</ion-card-subtitle>
      <ion-card-title>28 Mei 2021</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item>0700-0800 : Latihan Jasmani</ion-item>
        <ion-item>0800-0900 : Sarapan Pagi</ion-item>
        <ion-item>0900-1030 : Eks Gempur Petanda</ion-item>
        <ion-item>1030-1100 : Rehat</ion-item>
        <ion-item>1100-1300 : Eks Gempur Petanda</ion-item>
        <ion-item>1300-1415 : Makan Tengahari</ion-item>
        <ion-item>1415-1600 : Eks Disambung</ion-item>
        <ion-item>1600-1830 : Pentadbiran</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
