<ion-header>
  <ion-toolbar>
    <ion-title>This is the schedule page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Senarai Rujukan</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let r of references">
      <ion-label >{{ r.name }}</ion-label>
      <ion-button href="{{ r.url }}">
        <ion-icon name="logo-dropbox"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
