<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Senarai Rujukan</ion-card-title>
    </ion-card-header>
  </ion-card>
  <!-- <IonSearchbar value={searchText} onIonChange={e => setSearchText(e.detail.value!)} showCancelButton="focus" cancelButtonText="Custom Cancel"></IonSearchbar> -->
  <!-- <ion-searchbar showCancelButton="focus" cancelButtonText="Kembali" placeholder="Cari Rujukan"></ion-searchbar> -->
  <ion-list>
    <ion-item *ngFor="let r of references">
      <ion-label >{{ r.kod }} {{ r.name }}</ion-label>
      <ion-button href="{{ r.url }}">
        <ion-icon name="logo-dropbox"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

    <!-- <ion-fab slot="fixed" center>
      <ion-fab-button>
        <ion-icon name="search"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
<!-- 
    <ion-fab bottom left>
      <button ion-fab>Share</button>
      <ion-fab-list side="top">
        <button ion-fab>Facebook</button>
        <button ion-fab>Twitter</button>
        <button ion-fab>Youtube</button>
      </ion-fab-list>
      <ion-fab-list side="left">
        <button ion-fab>Vimeo</button>
      </ion-fab-list>
    </ion-fab> -->


</ion-content>
