.title {
    margin-bottom: 30px;
}

.title h4 {
    color: var(--ion-color-primary);
}

.title p {
    margin-top: 0 !important;
    color: #999999;
    font-size: small;
}

p {
    font-size: small;
    color: #999999;
}

.question {
    margin-top: 0 !important;
    --padding-start: 10px !important;
    color: #999999;
    font-size: small;
    margin-left: 10px;
    margin-right: 20px;
}