<ion-header>

</ion-header>

<ion-content class="ion-padding">
  <!-- <div class="title">
    <h4>Signup</h4>
  </div> -->

  <!-- <p>Full Name</p>
  <ion-input placeholder="E.g : Kapt Ismail bin Ibrahim" class="primary-input"></ion-input>
  
  <p>Username</p>
  <ion-input placeholder="E.g : Kapt Ismail" class="primary-input"></ion-input>
  
  <p>Password</p>
  <ion-input placeholder="Password" type="password" class="primary-input"></ion-input> -->

  <div class="title">
    <h4>Tapisan COVID-19</h4>
  </div>

  <p>Adakah anda sudah divaksin?</p>
  <ion-item lines="none">
    <ion-checkbox checked color="primary"></ion-checkbox>
    <ion-label class="question">Ya</ion-label>

    <ion-checkbox color="primary"></ion-checkbox>
    <ion-label class="question">Belum</ion-label>
  </ion-item>

  <p>Adakah anda kontak rapat dengan mana-mana pesakit atau orang yang disyaki positif COVID-19?</p>
  <ion-item lines="none">
    <ion-checkbox color="primary"></ion-checkbox>
    <ion-label class="question">Ada</ion-label>

    <ion-checkbox checked color="primary"></ion-checkbox>
    <ion-label class="question">Tiada</ion-label>
  </ion-item>

  <p>Adakah anda mempunyai simptom berikut?</p>

  <ion-item lines="none">
    <ion-checkbox color="primary"></ion-checkbox>
    <ion-label class="question">Suhu badan melebihi 37.5C</ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-checkbox color="primary"></ion-checkbox>
    <ion-label class="question">Demam</ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-checkbox color="primary"></ion-checkbox>
    <ion-label class="question">Batuk-batuk</ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-checkbox color="primary"></ion-checkbox>
    <ion-label class="question">Kesukaran bernafas</ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-checkbox color="primary"></ion-checkbox>
    <ion-label class="question">Hilang deria bau atau rasa</ion-label>
  </ion-item>
  
  <p>Saya mengakui bahawa semua maklumat di atas adalah <b>benar</b>.</p>

  <div class="ion-margin-top">
    <ion-button expand="block" (click)="register()">Hantar</ion-button>
  </div>

  <div class="ion-margin-top ion-text-center">
    <a (click)="dismiss()">Kembali</a>
  </div>
</ion-content>
